@import url("mobile.css") screen and (max-device-width: 480px);

body, p, ul { margin:0; padding:0;}

body, html {
    font-family: "Helvetica", sans-serif;
    text-rendering: optimizeLegibility;
}

p {
    line-height:1.5;
    margin-bottom:15px;
}

#site-name, #page-title, h1, h2, h3, h4, h5, h6, .post-title, .post-date, #page-date {
    font-family: Georgia, serif;
    font-weight:bold;
    font-style:italic;
}

h1 {
    font-size:18pt;
}

h2 {
    font-size:14pt;
}

.post-title, .post-date {
    font-weight:normal;
    font-style:none;
}

#site-name, #page-title, #page-date {
    color:#d9e0e2;
    text-align:center;
    text-shadow: 0 1px 1px white;
}

#site-name {
    font-size:20pt;
    margin-top:20px;
}

#page-title {
    font-size:12pt;
    margin-top:5px;
    margin-bottom:5px;
    color:gray;
}

/* Blog Stream area */
#site-name, #page-title, #page-date, #content {
    margin-left: 325px; /* for width of blogstream */
}

#blog-stream {
    position:absolute;
    position:fixed; /* keeps stream in place when scrolling */
    top:0;
    bottom:0;
    width:325px;
    background-color:rgb(255,255,255);
    overflow-y: scroll;
    border-right:1px solid #d9e0e2;
}

.post-link {
    line-height:1.25;
    padding:15px 15px 25px 15px;
    border-bottom: 1px solid #d9e0e2;
}

/* Content area */
#content {
    padding-left:30px;
    padding-right:30px;
    height:100%;
}

#main {
    margin:30px auto 30px auto;
    min-width:400px;
    padding:40px;
    background-color:rgb(255,255,255);
    overflow:hidden;
}

h1:first-child {
    padding-top:0;
    margin-top:0;
}

a {
    text-decoration:none;
    color:gray;
}

a:hover {
    color:#d9e0e2;
}

/* image layouts */
img {
    border: 1px solid #d9e0e2;
    margin-bottom:20px;
}

img.medium {
    width:300px;
}

img.large {
    width:100%;
}

img.right {
    float:right;
    margin-left:20px;
}

img.left {
    float:left;
    margin-right:20px;
}

img.center {
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.thumbnail {
    width:50px;
    height:50px;
    margin-right:10px;
    float:left;
    border: 1px solid #d9e0e2;
    border-radius:5px;
    overflow:hidden;
}

.thumbnail > img {
    height:50px;
    min-width:50px;
    margin:0;
}