<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if page.description %}
    <meta name="description" content="{{ page.description }}" />
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/syntax.css" />
    <title>
        {% if page.title %} {{ site.name }} | {{ page.title }}</title>
        {% else %} {{ site.name }}{% endif %}</title>
</head>

<body>
    <div id="container">
        <!-- blog stream sidebar -->
        
        <div id="blog-stream">
            {% for post in site.posts %}
                {% include post-title-date.html %}
            {% endfor %}
        </div>
        
        <div id="header">
            <div id="site-name">{{ site.name }}</div>
            {% if page.title %}
            <div id="page-title"><a href="{{ site.baseurl }}/{{ page.url }}">{{ page.title }}</a></div>
            {% endif %}
            {% if page.date %}
            <div id="page-date">Posted on {{ page.date | date_to_long_string }}</div>
            {% endif %}
        </div>
        
        <!-- main content area -->
        <div id="content">
            <!-- article -->
            <div id="main">
                {{ content }}
            </div>
        </div>
        
    </div>
</body>

</html>
